<p> {{ expense .name }}</p>
<a href="/expenses/{{ expense._id }}/edit">edit</a>
<a href="/">back</a>
<form action="/expenses/{{ expense._id }}?_method=DELETE" method="POST" style="display:inline">
  <button type="submit">delete</button>
</form>

