<form action="/expenses/{{ expense._id }}?_method=PUT" method="POST">
<input type="text" placeholder="name" name="name" value="{{ expense.name }}">
<button type="submit">Save</button>
<a href="/">back</a>
</form>